@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Bungee+Spice&display=swap');

:root {
    /* Palette */
    --background-color: linear-gradient(0.25turn, #843bad, #ebf8e1, #f69d3c);
    --dark-blue-300: #0A3871;
    --lavanda: #9ab2fd; 
    --violet: #7c57a8;
    --grey-400: #8C7976;

    /* Typography */
    --base-font: "Bungee", sans-serif;

    /*font-sizes*/
    --large-32: 2rem;
    --medium-24: 1.5rem;
    --small-16: 1.6rem;
    --xsmall-12: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: var(--base-font);
    font-weight: 400;
}

body {
    max-height: 100vw;
    box-sizing: border-box;
    background: var(--background-color);
}

.container {
    width: 90%;
    display: flex;
    margin: 2%;
    gap: 67px;
    color: var(--dark-blue-300); 
}

.img_logo {
    width: 120px;
    height: 48px;
}

.main__inputs, .main__response {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main__inputs {
    gap: 16px;
    padding-bottom: 32px;
}

.input__text {
    background-color: transparent;
    width: 100%;
    max-width: 600px;
    height: 350px;
    color: var(--dark-blue-300);
    font-size: var(--large-32);
    padding: 15% 2%;
}


.input__text::placeholder {
    color: var(--dark-blue-300);
}

.input__instruction {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--xsmall-12);
    color: var(--grey-400);
    padding: 0 2%;
}

.input__button {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.boton {
    width: 328px;
    border-radius: 24px;
    cursor: pointer;
    font-size: var(--xsmall-12);
    padding: 24px;
    box-shadow: 0 15px 16px rgba(0, 0, 0, 0.2);
    background: radial-gradient(var(--lavanda), var(--violet));
}

.boton:active {
    transform: translateY(7px);
    box-shadow: 0 8px 10px rgba(163, 26, 145, 0.356);
}

.boton:hover {
    background: radial-gradient(var(--violet), var(--lavanda));
    transform: scale(1.05);
}

#btn_encriptar {
    background-color: var(--dark-blue-300);
    color:white;
}

#btn_desencriptar, #btn_copiar {
    color: var(--dark-blue-300);
}

.main__response {
    max-width: 400px;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    text-align: center;
    background-color: white;
    border-radius: 32px;
    gap: 32px;
    box-shadow: 0px 17px 30px -7px rgba(0,0,0,0.73);
    
}

.img-respuesta {
    max-width: 100%;
    height: auto;
}

.img-respuesta:hover {
    transform: rotate(10deg);
}

.input__result {
    width: 100%;
    max-height: 480px;
    overflow-y: auto;
    color: var(--grey-400);
    font-size: var(--medium-24);
    opacity: 0;
}

h2 {
    font-size: var(--medium-24);
    font-weight: 700;
    color: var(--violet);
}

.instruccion {
    font-size: var(--small-16);
    color: var(--grey-400);
}

footer {
    width: 100%;
    color: white;
    background-color: var(--dark-blue-300);
    text-align: center;
    padding: 24px 0;
}

#btn_copiar.oculto {
    opacity: 0;
    transition: opacity 0.3s;
}

#btn_copiar:not(.oculto) {
    opacity: 1;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.oculto {
    display: none;
}

@media (max-width: 768px) {

    .container {
        flex-direction: column;
        margin: 4%;
    }

    .input__text {
        margin: 24px 0;
        max-width: 100%;
        padding: 0;
    }

    .boton {
        width: 100%;
    }
    
    .main__response {
        width: 100%;
        padding: 32px 0;
    }

    .img-respuesta {
        display: none;
    }
    
    #textoResultado, #btn_copiar {
        width: 90%;
    }

    #textoResultado {
        text-align: start;
    }

}

@media (max-width: 480px) {
    
    .container {
        justify-content: center;
        gap: 15px;
    }

    .input__text {
        margin-right: 20px;
    }

    .input__button {
        flex-direction: column;
        align-items: center;
    }

}